.header {
    display: flex;
    position: relative;
    z-index: 1;
    height: 130px;
    width: 100vw;
    background-color: #333;
    opacity: 0.3;
}

.header-top {
    position: absolute;
    top: 0;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 5px;
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0 100px;
}

.header-top-l {
    line-height: 70px;
}

.header-top img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
    margin: 0 20px;
}

header hr {
    width: 100%;
    height: 1px;
    color: #333;
    opacity: 0.2;
    z-index: 3;
    position: absolute;
    top: 70px;
}

.header-top-r {
    display: flex;
}

.relative {
    display: flex;
}

.relative {
    cursor: pointer;
}

.header-bottom {
    position: absolute;
    top: 70px;
    z-index: 3;
    width: 100%;
    font-size: 18px;
    letter-spacing: 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 120px;
    list-style: none;
}

.li {
    text-align: center;
    width: 150px;
    height: 60px;
    line-height: 60px;
}

.li a {
    text-decoration: none;
    margin: 0 auto;
    font-family: "宋体";
    font-weight: 800;
    color: #fff;
}

.li:hover {
    border-bottom: 5px solid #bb1c33;
    cursor: pointer;
}

.li ul {
    display: none;
    position: relative;
    list-style: none;
    width: 150px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(3, 3, 3, 0.3);
    font-size: 16px;
}

#ul a:hover {
    color: #b80233;
}

.li:hover .u2 {
    display: block;
}

.li:hover .u3 {
    display: block;
}

.li:hover .u4 {
    display: block;
}

.li:hover .u5 {
    display: block;
}

.li:hover .u7 {
    display: block;
}

.li:hover .u8 {
    display: block;
}

.time-ltemp {
    margin: 0 10px;
    transform: translateY(-3px);
}

#searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 3;
    margin-right: 30px;
}

#searchBox {
    width: 0;
    padding: 0;
    border: none;
    transition: width 0.3s ease;
    opacity: 0;
    margin-left: 20px;
    outline: none;
}

#searchBox.active {
    width: 200px;
    height: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    opacity: 1;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-left: 10px;
}

.iconfont:hover {
    cursor: pointer;
}

.banner-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.banner-images {
    width: 500%;
    height: 100%;
    display: flex;
    transition: transform 2s ease - in - out;
}

.banner-image {
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.banner-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    margin: 0 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "iconfont" !important;
    font-size: 35px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    color: #fff;
    position: relative;
    top: -50px;
}

.dot:hover {
    color: #b80233;
}

.dot.active {
    background-color: #717171;
}

.iconfont1 {
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    color: #fff;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    src: url('./font/font_4836137_84978jxlec7/iconfont.ttf') format('woff2'),
        url('./font/font_4836137_84978jxlec7/iconfont.woff') format('woff'),
        url('./font/font_4836137_84978jxlec7/iconfont.woff2') format('truetype');
}

h1 {
    font-family: 隶书;
    color: #4c3423;
    margin: 30px;
}

/* h1::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-right: 30px;
    background-image: url(../images/_祥云\ -\ 副本.png);
    background-size: cover;
}
h1::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 30px;
    background-image: url(../images/_祥云.png);
    margin-left: 30px;
    background-size: cover;
} */
.box {
    margin: 85vh auto 40px;
    width: 1200px;
    padding: 20px 0;
    background-image: url(../images/背景纹理03.png);
}

.boxone {
    width: 1200px;
    margin: 40px auto 20px;
    display: flex;
    padding: 0 20px;
    transition: opacity 1s ease;
}

#viewport2,
#viewport3,
#viewport4 {
    opacity: 0;
}

.boxone-l {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 0 30px 0;
    position: relative;
    background-image: url(../images/背景纹理13.png);
    background-size: cover;
}

.boxone-l a {
    padding: 10px 10px;
    text-decoration: none;
    font-family: 宋体;
    color: #537791;
    font-size: 20px;
    font-weight: 800;
    background-color: #c1c0b9;
    border-radius: 10px;
    margin-left: 270px;
    display: block;
    width: 170px;
    text-align: center;
    margin-top: 20px;
}

h4 {
    font-family: 宋体;
    padding: 20px 40px 0 30px;
    text-indent: 2em;
    color: #dfd3ca;
    line-height: 30px;
}

h3 {
    font-family: 宋体;
    padding: 10px 0;
    padding: 20px 40px 10px 30px;
    color: #dfd3ca;
    line-height: 40px;
    border-bottom: 1px solid #c5b39f;
    ;
}

#h1 {
    color: #d5c0af;
}

.boxtwo {
    width: 1200px;
    margin: 20px auto 40px;
}

h1:nth-child(2) {
    padding-left: 30px;
}

.boxtwoa {
    width: 1140px;
    margin: 0 auto;
    background-image: url(../images/首页/05.jpg);
}

.boxtwo-l {
    width: 500px;
    height: 400px;
    background-color: rgba(49, 58, 67, 0.9);
    padding: 30px 40px;
}

.boxtwo-l a {
    color: #dbd1cb;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}
.boxtwo-l a:hover{
    color: #b20721;
    cursor: pointer;
}
.boxtwo-l-top {
    padding-bottom: 10px;
}

.boxtwo-l-bottom {
    padding-top: 10px;
}

.boxtwo-l-bottom a {
    font-size: 14px;
}

.boxtwo-l-bottom a::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #dbd1cb;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.boxthree {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;
}
.boxthree a{
    text-decoration: none;
    color: #f8f4e6;
    font-size: 20px;
    transition: transform 0.3s ease;
}
.boxthree a:hover{
    transform: translateY(-5px);
}
.boxthreea-a {
    width: 250px;
    height: 500px;
    background-image: url(../images/首页/文创01.png);
    background-size: cover;
    display: flex;
    writing-mode: vertical-lr;
    align-items: center;
    padding-top: 30px;
}
.boxthree .h2{
    font-family: 隶书;
    line-height: 30px;
}
.boxthreea-b {
    width: 250px;
    height: 500px;
    background-image: url(../images/首页/文创02.png);
    background-size: cover;
    display: flex;
    writing-mode: vertical-lr;
    align-items: center;
    padding-top: 30px;
}
.boxthreea-c {
    width: 250px;
    height: 500px;
    background-image: url(../images/首页/文创03.png);
    background-size: cover;
    display: flex;
    writing-mode: vertical-lr;
    align-items: center;
    padding-top: 30px;
}
.boxthreea-d {
    width: 250px;
    height: 500px;
    background-image: url(../images/首页/文创04.png);
    background-size: cover;
    display: flex;
    writing-mode: vertical-lr;
    align-items: center;
    padding-top: 30px;
}
footer {
    width: 100vw;
    margin: 40px auto 0;
    padding-bottom: 40px;
    background-image: url(../images/首页/底纹3.png);
    background-size: cover;
    color: #ede2d5;
    padding-top: 5px;
}

footer img {
    width: 60px;
    height: 60px;
}

#logo {
    width: 60px;
    height: 60px;
    margin: 40px auto 0;
}

.footer-a {
    margin: 40px auto 20px;
    width: 555px;
}

footer a {
    text-decoration: none;
    margin: 0 20px;
    color: #ede2d5;
}

footer a:hover {
    cursor: pointer;
    color: #801323;
}

.back-to-top {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: -45px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: right 0.3s ease;
    text-align: center;
    font-family: 宋体;
    font-size: 16px;
}

.back-to-top:hover {
    right: 0;
    background-color: #801323;
    color: #fff;
}

.boxone {
    display: flex;
    justify-content: space-between;
}

.boxone-r {
    /* 100%窗口高度 */
    /* height: 100vh; */
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 背景径向渐变 */
    /* background: radial-gradient(circle at top, #444, #000); */
}

.container {
    width: 650px;
    /* 弹性布局 均匀排列每个元素 */
    display: flex;
    /* 每个元素之间的间隔相等 */
    justify-content: space-evenly;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 加个倒影 */
    /* -webkit-box-reflect: below 13px linear-gradient(transparent 70%, rgba(0, 0, 0, 0.2)); */
}

.big-box {
    width: 400px;
    height: 500px;
    /* 背景图片保持原有尺寸比例，裁切长边 */
    background-size: cover;
    /* 设置过渡 */
    transition: 0.4s;
}

.small-box {
    width: 200px;
    height: 500px;
    /* 弹性布局 垂直排列 均匀排列每个元素 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-box .img {
    /* 相对定位 */
    position: relative;
    width: 200px;
    height: 90px;
    right: 0;
    transition: 0.5s;
}

.small-box .img img {
    width: 100%;
    height: 100%;
    /* 保持原有尺寸比例，裁切长边 */
    object-fit: cover;
    /* 绝对定位 */
    position: absolute;
    right: 0;
    /* 设置过渡 */
    transition: 0.5s;
}

.small-box .img.active {
    opacity: 0;
    right: 250px;
}

.small-box .img:hover img {
    opacity: 0;
    right: 250px;
}

.img:hover {
    cursor: pointer;
}