.header {
    display: flex;
    position: relative;
    height: 130px;
    z-index: 1;
    width: 100vw;
    background-size: cover;
}

.header-top {
    position: absolute;
    top: 0;
    z-index: 2;
    color: #333;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 5px;
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0 100px;
    background-color: rgba(213, 186, 140, 0.3);
    border-bottom: 2px solid #e3d9ca;
    ;
}

.header-top-l {
    line-height: 70px;
}
.li:hover .u4{
    display: block;
}
.li:hover .u5{
    display: block;
}
.header-top img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
    margin: 0 20px;
}

.header-top-r {
    display: flex;
}

#searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 3;
    margin-right: 30px;
}

#searchBox {
    width: 0;
    padding: 0;
    border: none;
    transition: width 0.3s ease;
    opacity: 0;
    margin-left: 20px;
    outline: none;
}

#searchBox.active {
    width: 200px;
    height: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    opacity: 1;
}

.relative {
    display: flex;
}

.relative {
    cursor: pointer;
}

.header-bottom {
    position: absolute;
    top: 70px;
    z-index: 3;
    width: 100%;
    font-size: 18px;
    letter-spacing: 5px;
}

section {
    width: 1200px;
    margin: 30px auto 0;
}

section a {
    color: #333;
    text-decoration: none;
    font-family: "宋体";
    font-size: 16px;
}

section a:hover {
    color: #b80233;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 120px;
    list-style: none;
}

.li {
    text-align: center;
    width: 150px;
    height: 60px;
    line-height: 60px;
}

.li a {
    text-decoration: none;
    margin: 0 auto;
    font-family: "宋体";
    font-weight: 800;
    color: #333;
}

.li:hover {
    border-bottom: 5px solid #bb1c33;
    cursor: pointer;
    background-color: rgba(181, 158, 118, 0.1);
}

.li ul {
    display: none;
    position: relative;
    list-style: none;
    width: 150px;
    color: #333;
    background-color: rgba(181, 158, 118, 0.1);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

#ul a:hover {
    color: #b80233;
    background-color: #f7f4e3;
}

.li:hover .u2 {
    display: block;
}

.li:hover .u3 {
    display: block;
}

.li:hover .u7 {
    display: block;
}

.li:hover .u8 {
    display: block;
}

.time-ltemp {
    margin: 0 10px;
    transform: translateY(-3px);
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-left: 10px;
}

.iconfont {
    cursor: pointer;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    src: url('./font/font_4836137_84978jxlec7/iconfont.ttf') format('woff2'),
        url('./font/font_4836137_84978jxlec7/iconfont.woff') format('woff'),
        url('./font/font_4836137_84978jxlec7/iconfont.woff2') format('truetype');
}


.container p:hover {
    cursor: pointer;
    text-decoration: #89897b underline;
}

.container {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 350px;
    height: 350px;
    object-fit: contain;
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s ease, transform 3s ease;
}

.title {
    position: absolute;
    top: 42%;
    left: 30px;
    transform: translateX(-50%);
    font-size: 36px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 3s ease;
    white-space: nowrap;
    font-family: 宋体;
    font-weight: 800;
    color: #333;
}

.texta {
    width: 900px;
    position: absolute;
    top: 20px;
    left: 0;
    text-indent: 2em;
    line-height: 1.5;
    opacity: 0;
    color: #3a4750;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 3s ease;
}

h3{
    position: absolute;
    top: 35%;
    right: 25%;
    transform: translateX(-50%);
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 3s ease;
    white-space: nowrap;
    writing-mode: vertical-lr;
    font-family: 宋体;
    color: #504f4f;
  }

h4 {
    color: #333;
    font-family: 宋体;
}

h5 {
    font-family: 宋体;
}

.texta-l {
    color: #3e3636;
    padding: 20px;
}

.textabox {
    padding: 10px 20px;
    background-color: rgba(213, 186, 140, 0.3);
    border-radius: 20px;
}
.textaboxi{
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    color: #3a4750;
    transition: opacity 1s ease, transform 3s ease;
 }
.textabox p {
    font-size: 14px;
    color: #6e6161;
}
.textaboxi p{
    padding: 10px 0;
}
.textaboxi span{
    width: 30px;
}
footer{
    width: 100vw;
    margin: 40px auto 0;
    padding-bottom: 40px;
    background-image: url(../../images/首页/底纹3.png);
    background-size: cover;
    color: #ede2d5;
    padding-top: 5px;
}
footer img{
    width: 60px;
    height: 60px;
}
#logo{
    width: 60px;
    height: 60px;
    margin: 40px auto 0;
}
.footer-a{
    margin: 40px auto 20px;
    width: 555px;
}
footer a{
    text-decoration: none;
    margin: 0 20px;
    color: #ede2d5;
}
footer a:hover{
    cursor: pointer;
    color: #801323;
}
.back-to-top {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: -45px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: right 0.3s ease;
    text-align: center;
    font-family: 宋体;
    font-size: 16px;
}

.back-to-top:hover {
    right: 0;
    background-color: #801323;
    color: #fff;
}